<div class="row min-vh-100 align-items-center align-content-center skill">

  <div class="d-flex justify-content-center py-5"> 
    <h1 class="fs-1 fw-bold text-uppercase text-danger">Skills</h1>
  </div>

  <div class="col-md-6 mt-5 mt-md-0">
    <div class="home-img text-center">
      <img src="../../../assets/skill.png" class="avatar mw-100 w-75" alt="Avatar">
    </div>
  </div>

  <!-- Start skills / expertise -->
  <div class="col-md-6 mt-5 mt-md-0">
    <div class="space">

      <h5>HTML / CSS3</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-danger" style="width: 90%"></div>
      </div>

      <h5>Javascript</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: 85%"></div>
      </div>

      <h5>PHP</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-warning" style="width: 80%"></div>
      </div>

      <h5>Angular JS</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-default" style="width: 70%"></div>
      </div>

      <h5>MySQL / NoSQL</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: 75%"></div>
      </div>

      <h5>.NET</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-danger" style="width: 90%"></div>
      </div>

    </div>
  </div>
  <!-- End of skills / expertise -->
</div>