<div class="row min-vh-100 align-items-center align-content-center skill">

  <div class="d-flex justify-content-center py-5"> 
    <h1 class="fs-1 fw-bold text-uppercase text-danger">Skills</h1>
  </div>

  <div class="col-md-6 mt-5 mt-md-0">
    <div class="home-img text-center">
      <img src="../../../assets/skill.png" class="avatar mw-100 w-75" alt="Avatar">
    </div>
  </div>

  <!-- Start skills / expertise -->
  <div class="col-md-6 mt-5 mt-md-0">
    <div class="space">

      <h5>HTML / CSS3</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
      </div>

      <h5>Javascript</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: 65%"></div>
      </div>

      <h5>PHP</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
      </div>

      <h5>Angular</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-default" style="width: 72%"></div>
      </div>

      <h5>MySQL / NoSQL</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: 70%"></div>
      </div>

      <h5>Bootstrap</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
      </div>

      <h5>C</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-default" style="width: 72%"></div>
      </div>

      <h5>C++</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: 70%"></div>
      </div>

      <h5>Python</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-danger" style="width: 67%"></div>
      </div>

      <h5>Java</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-danger" style="width: 77%"></div>
      </div>

      <h5>Spring Boot</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-danger" style="width: 67%"></div>
      </div>

      <h5>Maven/Hibernate/IOC&DI</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-danger" style="width: 56%"></div>
      </div>

      <h5>Rest API</h5>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-danger" style="width: 69%"></div>
      </div>

    </div>
  </div>
  <!-- End of skills / expertise -->
</div>