<div class="image-flip">
    <div class="mainflip flip-0 py-3">
        <div class="frontside">
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid" src={{pobj.image}} alt="card image"></p>
                    <h4 class="card-title">{{pobj.name}}</h4>
                    <p class="card-text">{{pobj.description}}</p>
                    <p class="card-text text-muted">Conclusion : {{pobj.conclusion}}</p>
                </div>
            </div>
        </div>
        <div class="backside mt-4">
            <div class="card">
                <div class="card-body text-center mt-4">
                    <h4 class="card-title fs-5">ID : {{pobj.pid}}</h4>
                    <p class="card-text">Technology Used : {{pobj.technology}}</p>
                    <p class="card-text">Role in Project : {{pobj.role}}</p>
                    <p class="card-text">Project Type : {{pobj.type}}</p>
                    <p class="card-text">Github : <a href={{pobj.github}} target="_blank">{{pobj.github}}</a></p>
                    <p class="card-text">Duration : {{pobj.start_date | date:'dd-MM-yyyy'}} to {{pobj.end_date | date:'dd-MM-yyyy'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>