<div class="d-flex justify-content-center py-5">
    <h1 class="fs-1 fw-bold text-uppercase text-danger">Experience</h1>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="blog-card">
            <div class="meta">
                <div class="photo"
                    style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)">
                </div>
                <ul class="details">
                    <li class="author">Internship</li>
                    <li class="date">Sept 2021 - Nov 2021</li>
                    <li class="tags">
                        <ul class="d-flex row">
                            <li><a href="#">Digital</a></li>
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">Kolkata</a></li>
                            <li><a href="#">West Bengal</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="description">
                <h1>Digital Marketing Intern</h1>
                <h2>Graphics Designer</h2>
                <p>Designing Flyer, Brochure, Poster, Instagram Post, Form daily based on user requirements</p>
                <p class="read-more">
                    <a href="https://airkinggroup.com/" target="_blank">airkinggroup.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="blog-card alt">
            <div class="meta">
                <div class="photo"
                    style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)">
                </div>
                <ul class="details">
                    <li class="author"><a href="#">Internship</a></li>
                    <li class="date">Nov 2021 - Dec 2021</li>
                    <li class="tags">
                        <ul class="d-flex row">
                            <li><a href="#">MEAN</a></li>
                            <li><a href="#">Delhi</a></li>
                            <li><a href="#">India</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="description">
                <h1>Jr. Full Stack Engineer</h1>
                <h2>MEAN Stack</h2>
                <p>Day to day resposibilities include creating a section from scratch both frontend and backend</p>
                <p class="read-more">
                    <a href="https://www.codeaxia.com/" target="_blank">Codeaxes Digital Solutions </a>
                </p>
            </div>
        </div>
    </div>
</div>