<!-- navbar start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
  <div class="container">
    <a class="navbar-brand text-danger fw-bold fs-4" href="#">Portfolio</a>
    <button class="navbar-toggler bg-danger" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-danger rounded-3" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacts">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar end -->
<!-- home section start -->
<section class="home py-5 py-sm-1" id="home">
  <div class="container-lg">
    <div class="row min-vh-100 align-items-center align-content-center">
      <div class="col-md-6 mt-5 mt-md-0">
        <div class="home-img text-center">
          <img src="../assets/sbr.jpg" alt="profile img" class="rounded-circle mw-100 w-75">
        </div>
      </div>
      <div class="col-md-6 mt-5 mt-md-0 order-md-first">
        <div class="home-text">
          <p class="text-muted mb-1">Hello I'm</p>
          <h2 class="fs-4">Subrata Halder</h2>
          <hr />
          <h1 class="text-danger text-uppercase fs-1 fw-bold pt-3">Full Stack Developer</h1>
          <p class="mt-4 text-muted">With many years of knowledge in coding, computer science, hands-on projects and also suitable understanding in Full Stack
            Development, I look forward to bringing my strong, creative, technical and analytical skills to the Full
            Stack Developer for the best. Therefore always excited to learn new things and add to my skill sets.</p>
          <a href="#portfolio" class="btn btn-danger px-3 mt-3">More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- home section end -->

<section class="skills py-5 py-sm-1" id="education">
  <div class="container-lg">
    <app-education></app-education>
  </div>
</section>

<section class="skills py-5 py-sm-1" id="skills">
  <div class="container-lg">
    <app-skills></app-skills>
  </div>
</section>


<div class="footer-dark bg-light text-danger mt-5">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Web design</a></li>
                      <li><a href="#">Development</a></li>
                      <li><a href="#">Hosting</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3><a style="text-decoration: none; color: #c43333;" href="https://github.com/subrata797979" target="_blank">Github Profile</a></h3>
                  <p>I graduated with a bachelor’s degree in Computer Science (Hons) from the Barrackpore Rastraguru Surendranath College doing Master of Computer Application (MCA) from Kalyani Government Engineering College (KGEC 2022 pass out).</p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">subrata797979 © 2022</p>
      </div>
  </footer>
</div>