.accordion-button {
    background-color: hsl(0, 100%, 90%);
    color: #c43333;
}

.accordion-header :hover {
    background-color: #c43333;
    color: #fff;
}

.accordion-item {
    border: none;
    margin: 0px;
    padding: 0px;
}

.accordion {
    border: none;
    margin: 0px;
    padding: 0px;
}