<div class="d-flex justify-content-center py-5">
  <h1 class="fs-1 fw-bold text-uppercase text-danger">Resume</h1>
</div>

<div class="container" style="padding-bottom: 1rem">
  <div class="circles"></div>
  <div class="details-container">
    <div class="avatar">
      <img src="./assets/subrata.jpg" class="img-fluid" alt="">
    </div>
    <div class="about">
      <div class="name">
        <p>
          Hello There!
        </p>
        <h1>
          I'm Subrata Halder
        </h1>
      </div>
      <div class="about-content">
        <p>
          A tech enthusiast. Knowledge in MEAN stack, Java Spring Boot, Java, C, C++, Python, HTML, CSS, JS, Bootstrap, Python, ML, Deep Learning. 2022 Graduate from Kalyani Government Engineering College under MAKAUT.
        </p>
        <a class="btn btn-outline-danger rounded-pill text-dark px-4" href="https://1drv.ms/b/s!AgJqX37WlxrKv3iwKkCDicjlFAhK?e=XQkkEr">Download Resume</a>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="skills-container">
    <button>
      Reader
    </button>
    <button>
      Coder
    </button>
    <button>
      Designer
    </button>
  </div>
</div>
<div class="py-5"></div>
