<div class="d-flex justify-content-center py-5">
    <h1 class="fs-1 fw-bold text-uppercase text-danger">Certifications</h1>
</div>

<div class="container">
    <div class="main-timeline">
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">December</span>
                        <span class="year">2017</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">Object Oriented Programming</h5>
                <p class="description">
                    IITBombayX
                </p>
                <a class="btn btn-outline-danger my-3" role="button" href="https://1drv.ms/b/s!AgJqX37WlxrKv0Wj-_EYQTwACZF4" target="_blank">Show credential</a>
            </div>
        </div>

        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">November</span>
                        <span class="year">2019</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">
                    Honours-Advanced Diploma in Computer Application (H-ADCA) from RGCSM</h5>
                <p class="description">
                    Rajib Gandhi Computer Sikhsha Mission
                </p>
                <a class="btn btn-outline-danger my-3" role="button" href="https://1drv.ms/b/s!AgJqX37WlxrKv0Z4gWXWn1kIBfac" target="_blank">Show credential</a>
            </div>
        </div>

        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">July</span>
                        <span class="year">2020</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">
                    Basic Statistics</h5>
                <p class="description">
                    Coursera
                </p>
                <a class="btn btn-outline-danger my-3" role="button" href="https://www.coursera.org/account/accomplishments/certificate/AEB2EVXLLY9L" target="_blank">Show credential</a>
            </div>
        </div>

        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">August</span>
                        <span class="year">2020</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">
                    Practical Introduction to the Command Line</h5>
                <p class="description">
                    Coursera
                </p>
                <a class="btn btn-outline-danger my-3" role="button" href="https://www.coursera.org/account/accomplishments/certificate/U7MLMGHN6LWJ" target="_blank">Show credential</a>
            </div>
        </div>

        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">September</span>
                        <span class="year">2020</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">
                    Mathematics for Machine Learning: Linear Algebra</h5>
                <p class="description">
                    Coursera
                </p>
                <a class="btn btn-outline-danger my-3" role="button" href="https://www.coursera.org/account/accomplishments/certificate/T46ZZLENMZBC" target="_blank">Show credential</a>
            </div>
        </div>

        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">November</span>
                        <span class="year">2020</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">
                    Python for Everybody Specialization</h5>
                <p class="description">
                    Coursera
                </p>
                <a class="btn btn-outline-danger my-3" role="button" href="https://www.coursera.org/account/accomplishments/specialization/certificate/D8NBPKCHWJ2D" target="_blank">Show credential</a>
            </div>
        </div>

        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">March</span>
                        <span class="year">2022</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">
                    Building a Text-Based Bank in Java</h5>
                <p class="description">
                    Coursera
                </p>
                <a class="btn btn-outline-danger my-3" role="button" href="https://www.coursera.org/account/accomplishments/certificate/2WS4F87XM73W" target="_blank">Show credential</a>
            </div>
        </div>

        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">April</span>
                        <span class="year">2022</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">
                    Visualizing Filters of a CNN using TensorFlow</h5>
                <p class="description">
                    Coursera
                </p>
                <a class="btn btn-outline-danger my-3" role="button" href="https://www.coursera.org/account/accomplishments/certificate/JHSBMTBD2E53" target="_blank">Show credential</a>
            </div>
        </div>

        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">April</span>
                        <span class="year">2022</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">
                    Responsive Web Design</h5>
                <p class="description">
                    freeCodeCamp
                </p>
                <a class="btn btn-outline-danger my-3" role="button" href="https://freecodecamp.org/certification/subrata797979/responsive-web-design" target="_blank">Show credential</a>
            </div>
        </div>

        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">April</span>
                        <span class="year">2022</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">
                    Java (Basic)</h5>
                <p class="description">
                    HackerRank
                </p>
                <a class="btn btn-outline-danger my-3" role="button" href="https://www.hackerrank.com/certificates/9456c70b8757" target="_blank">Show credential</a>
            </div>
        </div>

        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">April</span>
                        <span class="year">2022</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">
                    SQL (Basic)</h5>
                <p class="description">
                    HackerRank
                </p>
                <a class="btn btn-outline-danger my-3" role="button" href="https://www.hackerrank.com/certificates/3e73c883b469" target="_blank">Show credential</a>
            </div>
        </div>

        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">April</span>
                        <span class="year">2022</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">
                    Angular (Basic)</h5>
                <p class="description">
                    HackerRank
                </p>
                <a class="btn btn-outline-danger my-3" role="button" href="https://www.hackerrank.com/certificates/3dab9d09ea18" target="_blank">Show credential</a>
            </div>
        </div>

        <div class="timeline">
          <div class="icon"></div>
          <div class="date-content">
            <div class="date-outer">
              <span class="date">
                  <span class="month">May</span>
                  <span class="year">2022</span>
              </span>
            </div>
          </div>
          <div class="timeline-content">
            <h5 class="title">
              Machine Learning with Python</h5>
            <p class="description">
              freeCodeCamp
            </p>
            <a class="btn btn-outline-danger my-3" role="button" href="https://freecodecamp.org/certification/subrata797979/machine-learning-with-python-v7" target="_blank">Show credential</a>
          </div>
        </div>



    </div>
</div>
