<div class="d-flex justify-content-center py-5">
    <h1 class="fs-1 fw-bold text-uppercase text-danger">Achievements</h1>
</div>

<div class="list-group">
    <a href="https://drive.google.com/file/d/12bhO9nzDUkLcGOSTJybPe6MhMqX_wprU/view?usp=sharing"
        class="list-group-item list-group-item-action" aria-current="true" target="_blank">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">TCS National Qualifier Test</h5>
            <small>Feb 2021</small>
        </div>
        <p class="mb-1">ID - NQT2010711851</p>
        <small>Max Marks - 1800, Obtained Score - 1328.9, Percentage - 73.83%</small>
    </a>
    <br>
    <a href="https://www.hackerrank.com/subrata797979" class="list-group-item list-group-item-action" target="_blank">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">5* Coder</h5>
            <small>present</small>
        </div>
        <p class="mb-1">Java</p>
        <small>Hackerrank</small>
    </a>
</div>